<aside class="sidebar">
  <div class="sidebar-glow"></div>

  <div class="brand">
    <div class="logo">
      <img
        src="https://i.postimg.cc/7P3gL7GF/ZAIRO-Lost-Trip-Logo.jpg"
        alt="ZAIRO Lost Trip">
    </div>
    <div>
      <h2>ZAIRO</h2>
<p>WELCOME TO THE JUNGLE</p>
    </div>
  </div>

  <div class="theme-badge">
    🌴 Welcome to the Jungle
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active">🏠 Dashboard</a>

    <a *ngIf="tienePermiso(['admin'])" routerLink="/usuarios" routerLinkActive="active">
      👤 Usuarios
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh'])" routerLink="/empleados" routerLinkActive="active">
      👥 Empleados
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh'])" routerLink="/conceptos" routerLinkActive="active">
      🧾 Conceptos
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh'])" routerLink="/novedades" routerLinkActive="active">
      ⚡ Novedades
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh','contabilidad'])" routerLink="/planillas" routerLinkActive="active">
      💰 Planillas
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh','contabilidad','visor'])" routerLink="/reportes" routerLinkActive="active">
      📊 Reportes
    </a>

    <a *ngIf="tienePermiso(['admin'])" routerLink="/eventos" routerLinkActive="active">
      🎪 Eventos
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh'])" routerLink="/departamentos" routerLinkActive="active">
      🏢 Departamentos
    </a>

    <a *ngIf="tienePermiso(['admin'])" routerLink="/admin/compras" routerLinkActive="active">
      🎟️ Compras pendientes
    </a>

    <a *ngIf="tienePermiso(['admin'])" routerLink="/admin/kiosk" routerLinkActive="active">
      📱 KIOSK QR
    </a>
  </nav>
</aside>