<aside class="sidebar">
  <div class="sidebar-glow"></div>
  <div class="sidebar-line"></div>

  <div class="brand">
    <div class="logo">
      <img
        src="/assets/zairo-loader-logo.png"
        alt="ZAIRO">
    </div>

    <div class="brand-copy">
      <h2>ZAIRO</h2>
      <p>WELCOME TO THE JUNGLE</p>
    </div>
  </div>

  <div class="theme-badge">
    <span>🌴</span>
    <strong>Lost Trip Admin</strong>
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active">
      <span>🏠</span>
      Dashboard
    </a>

    <a *ngIf="tienePermiso(['admin'])" routerLink="/usuarios" routerLinkActive="active">
      <span>👤</span>
      Usuarios
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh'])" routerLink="/empleados" routerLinkActive="active">
      <span>👥</span>
      Empleados
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh'])" routerLink="/conceptos" routerLinkActive="active">
      <span>🧾</span>
      Conceptos
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh'])" routerLink="/novedades" routerLinkActive="active">
      <span>⚡</span>
      Novedades
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh','contabilidad'])" routerLink="/planillas" routerLinkActive="active">
      <span>💰</span>
      Planillas
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh','contabilidad','visor'])" routerLink="/reportes" routerLinkActive="active">
      <span>📊</span>
      Reportes
    </a>

    <a *ngIf="tienePermiso(['admin'])" routerLink="/eventos" routerLinkActive="active">
      <span>🎪</span>
      Eventos
    </a>

    <a *ngIf="tienePermiso(['admin','rrhh'])" routerLink="/departamentos" routerLinkActive="active">
      <span>🏢</span>
      Departamentos
    </a>

    <a *ngIf="tienePermiso(['admin'])" routerLink="/admin/compras" routerLinkActive="active">
      <span>🎟️</span>
      Compras
    </a>

    <a *ngIf="tienePermiso(['admin','entrada'])" routerLink="/admin/kiosk" routerLinkActive="active">
      <span>📱</span>
      KIOSK QR
    </a>
  </nav>
</aside>